#!/bin/bash
ldbname={{ appcode|lower }}{{ envcode|lower }}d
udbname={{ appcode|upper }}{{ envcode|upper }}D
linst={{ appcode|lower }}{{ envcode|lower }}i
uinst={{ appcode|upper }}{{ envcode|upper }}I
lappl={{ appcode|lower }}
uappl={{ appcode|upper }}
env={{ envid|upper }}
schemaenv={{ schemaid|upper }}
envno={{ envnum }}

##Create Dateabase
 db2 -v "CREATE DB ${udbname} AUTOMATIC STORAGE YES ON '/db2data/db2fs1p0/${linst}' DBPATH ON '/db2home/${linst}' USING CODESET UTF-8 TERRITORY GB COLLATE USING UCA400_NO PAGESIZE 8 K TEMPORARY TABLESPACE MANAGED BY SYSTEM USING ('/db2data/db2tmp1p0/${linst}/${linst}/NODE0000/${udbname}/T0000001')"

 db2 -v connect to ${udbname}
##Database Configuration Parameters
 db2 -v "UPDATE DB CFG for ${udbname} USING APP_CTL_HEAP_SZ 144"
 db2 -v "UPDATE DB CFG for ${udbname} USING APPLHEAPSZ AUTOMATIC"
 db2 -v "UPDATE DB CFG for ${udbname} USING LOGPRIMARY 10"
 db2 -v "UPDATE DB CFG for ${udbname} USING LOGSECOND 20"
 db2 -v "UPDATE DB CFG for ${udbname} USING LOGFILSIZ 5000"
 db2 -v "UPDATE DB CFG for ${udbname} USING STMT_CONC LITERALS"
 db2 -v "UPDATE DB CFG for ${udbname} USING DFT_DEGREE 1"
 db2 -v "UPDATE DB CFG for ${udbname} USING SELF_TUNING_MEM ON"
 db2 -v "UPDATE DB CFG for ${udbname} USING DFT_QUERYOPT 5"
 db2 -v "UPDATE DB CFG for ${udbname} USING CATALOGCACHE_SZ 6000"
 db2 -v "UPDATE DB CFG for ${udbname} USING LOGBUFSZ 4096"
 db2 -v "UPDATE DB CFG for ${udbname} USING UTIL_HEAP_SZ 5120"
 db2 -v "UPDATE DB CFG for ${udbname} USING BUFFPAGE 1024"
 db2 -v "UPDATE DB CFG for ${udbname} USING LOCKTIMEOUT 60"
 db2 -v "UPDATE DB CFG for ${udbname} USING AUTO_MAINT ON"
 db2 -v "UPDATE DB CFG for ${udbname} USING AUTO_TBL_MAINT ON"
 db2 -v "UPDATE DB CFG for ${udbname} USING AUTO_RUNSTATS ON"
 db2 -v "UPDATE DB CFG for ${udbname} USING AUTO_STMT_STATS ON"
 db2 -v "UPDATE DB CFG for ${udbname} USING NEWLOGPATH /db2data/db2logsp0/${linst}"
 db2 -v terminate

 db2 -v connect to ${udbname}
##Bufferpools
 db2 -v "CREATE BUFFERPOOL USERSBP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL INDXBP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL BLOBBP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL TEMPUSRBP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL TEMPSYSBP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL TEMPUSRBP32 SIZE AUTOMATIC PAGESIZE 32K"
 db2 -v "CREATE BUFFERPOOL TEMPSYSBP32 SIZE AUTOMATIC PAGESIZE 32K"
 db2 -v "CREATE BUFFERPOOL XML_DATA_BP SIZE AUTOMATIC PAGESIZE 32K"
 db2 -v "CREATE BUFFERPOOL XML_LARGE_BP SIZE AUTOMATIC PAGESIZE 32K"
 db2 -v "CREATE BUFFERPOOL XML_INDX_BP SIZE AUTOMATIC PAGESIZE 32K"
 db2 -v "CREATE BUFFERPOOL ITA_DATA_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ITA_IX_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ITD_DATA_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ITD_IX_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ITM_DATA_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ITM_IX_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ICM_DATA_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL ICM_IX_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL LCK_DATA_BP SIZE AUTOMATIC PAGESIZE 16K"
 db2 -v "CREATE BUFFERPOOL LCK_IX_BP SIZE AUTOMATIC PAGESIZE 16K"

##Storage Groups
 db2 -v "CREATE STOGROUP TEMPSTOGROUP ON '/db2data/db2tmp1p0/${linst}'"

##Create Tablespace
 db2 -v "CREATE LARGE TABLESPACE USERS
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL USERSBP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE INDX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL INDXBP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE BLOB_TBL_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL BLOBBP
FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE XML_DATA
PAGESIZE 32K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL XML_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 100M"

 db2 -v "CREATE LARGE TABLESPACE XML_LARGE_DATA
PAGESIZE 32K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL XML_LARGE_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 100M"

 db2 -v "CREATE LARGE TABLESPACE XML_INDEX
PAGESIZE 32K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL XML_INDX_BP
FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 100M"

 db2 -v "CREATE LARGE TABLESPACE ITA_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITA_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ITM_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITM_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ITD_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITD_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ICM_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ICM_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE LCK_DATA
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL LCK_DATA_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ITA_IX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITA_IX_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ITM_IX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITM_IX_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ITD_IX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ITD_IX_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE ICM_IX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL ICM_IX_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE LARGE TABLESPACE LCK_IX
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
BUFFERPOOL LCK_IX_BP
NO FILE SYSTEM CACHING AUTORESIZE YES INCREASESIZE 1G"

 db2 -v "CREATE USER TEMPORARY TABLESPACE TEMP_USER
PAGESIZE 16K MANAGED BY  AUTOMATIC STORAGE
PREFETCHSIZE 64
BUFFERPOOL TEMPUSRBP
USING STOGROUP TEMPSTOGROUP"

 db2 -v "CREATE SYSTEM TEMPORARY TABLESPACE TEMP_SYSTEM
PAGESIZE 16K
MANAGED BY AUTOMATIC STORAGE
PREFETCHSIZE 64
BUFFERPOOL TEMPSYSBP
USING STOGROUP TEMPSTOGROUP"

 db2 -v "CREATE USER TEMPORARY TABLESPACE TEMP_USER32
PAGESIZE 32K
MANAGED BY AUTOMATIC STORAGE
PREFETCHSIZE 64
BUFFERPOOL TEMPUSRBP32
USING STOGROUP TEMPSTOGROUP"

 db2 -v "CREATE SYSTEM TEMPORARY TABLESPACE TEMP_SYSTEM32
PAGESIZE 32K
MANAGED BY AUTOMATIC STORAGE
PREFETCHSIZE 64
BUFFERPOOL TEMPSYSBP32
USING STOGROUP TEMPSTOGROUP"


##Create Schemas
 ##db2 -v "CREATE SCHEMA MPSL  AUTHORIZATION ${uappl}${schemaenv}DS${envno}"
 db2 -v "CREATE SCHEMA ABCD  AUTHORIZATION ABCD"
 db2 -v "CREATE SCHEMA DEFG AUTHORIZATION ${uappl}${schemaenv}DS${envno}"

 db2 -v "GRANT ALTERIN,CREATEIN,DROPIN ON SCHEMA ABCD TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT ALTERIN,CREATEIN,DROPIN ON SCHEMA DEFG TO GROUP ${uappl}${schemaenv}${envno}RW"
##Create Authorisations
 db2 -v "GRANT CREATETAB,BINDADD,CONNECT,CREATE_NOT_FENCED,IMPLICIT_SCHEMA, LOAD ON DATABASE TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT CONNECT ON DATABASE TO GROUP ${uappl}${schemaenv}${envno}RO"

 db2 -v "GRANT USE OF TABLESPACE USERS TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE INDX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE BLOB_TBL_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE TEMP_USER TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE XML_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE XML_LARGE_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE XML_INDEX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ICM_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ICM_IX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITM_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITM_IX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITD_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITD_IX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITA_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE ITA_IX TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE LCK_DATA TO GROUP ${uappl}${schemaenv}${envno}RW"
 db2 -v "GRANT USE OF TABLESPACE LCK_IX TO GROUP ${uappl}${schemaenv}${envno}RW"

 db2 -v "REVOKE USE OF TABLESPACE USERSPACE1 FROM PUBLIC"
 db2 -v "REVOKE CREATETAB,BINDADD,CONNECT,IMPLICIT_SCHEMA ON DATABASE FROM PUBLIC"
