;Use BINARY file transfer

[FILE_DESCRIPTION]
APPLICATION=DB2/AIX64 0.5.7
FILE_CONTENT=DB2 CCA Exported Data Sources
FILE_TYPE=CommonServer
FILE_FORMAT_VERSION=2.0
Platform=20
DB2SYSTEM={{ ansible_hostname }}
Instance={{ appcode }}{{ envcode }}i

[REGISTRY_LOCAL]
DB2_CAPTURE_LOCKTIMEOUT=ON
DB2_MAX_INACT_STMTS=10000
DB2_WORKLOAD=MDM
DB2COMM=TCPIP
DB2CODEPAGE=1208
DB2_PARALLEL_IO=*

[DBM_CONFIG]
NODETYPE=4
RELEASE=0x1000
DIAGLEVEL=3
ALTERNATE_AUTH_ENC=255
RQRIOBLK=65535
AUTHENTICATION=0
DIR_CACHE=1
DISCOVER=2
TP_MON_NAME=
SYSADM_GROUP=DB2IADM
SYSCTRL_GROUP=DB2CTRL
SYSMAINT_GROUP=DB2MAINT
SYSMON_GROUP=DB2MON
TM_DATABASE=1ST_CONN
DFT_ACCOUNT_STR=
CATALOG_NOAUTH=0
NOTIFYLEVEL=3
JAVA_HEAP_SZ=2048
FEDERATED=0
FED_NOAUTH=0
UTIL_IMPACT_LIM=10
GROUP_PLUGIN=
CLNT_PW_PLUGIN=
CLNT_KRB_PLUGIN=
LOCAL_GSSPLUGIN=
MAX_QUERYDEGREE=-1
AUDIT_BUF_SZ=0
INTRA_PARALLEL=0
NUMDB=32
INDEXREC=2
SHEAPTHRES=0
ASLHEAPSZ=15
FENCED_POOL=AUTOMATIC-1
KEEPFENCED=1
AGENTPRI=-1
SSL_SVR_KEYDB=
SSL_SVR_STASH=
SSL_SVR_LABEL=
SSL_SVCENAME=db2_{{ appcode }}{{ envcode }}i
SSL_CIPHERSPECS=
SSL_VERSIONS=
SSL_CLNT_KEYDB=
SSL_CLNT_STASH=
DFT_MON_UOW=ON
DFT_MON_STMT=ON
DFT_MON_TABLE=ON
DFT_MON_BUFPOOL=ON
DFT_MON_LOCK=ON
DFT_MON_SORT=ON
DFT_MON_TIMESTAMP=ON
CPUSPEED=3.778755e-07
AGENT_STACK_SZ=1024
MON_HEAP_SZ=AUTOMATIC90
RESYNC_INTERVAL=180
SPM_LOG_FILE_SZ=256
SPM_MAX_RESYNC=20
TRUST_ALLCLNTS=YES
NUM_INITFENCED=0
SPM_NAME={{ ansible_hostname }}
NUM_INITAGENTS=0
MAX_COORDAGENTS=AUTOMATIC200
NUM_POOLAGENTS=AUTOMATIC100
FCM_NUM_BUFFERS=AUTOMATIC4096
FCM_NUM_CHANNELS=AUTOMATIC2048
TRUST_CLNTAUTH=CLIENT
DISCOVER_INST=1
MAX_CONNECTIONS=AUTOMATIC-1
INSTANCE_MEMORY=AUTOMATIC5487480
HEALTH_MON=OFF
SRV_PLUGIN_MODE=1
SRVCON_PW_PLUGIN=
SRVCON_GSSPLUGIN_LIST=
SRVCON_AUTH=255
KEYSTORE_TYPE=0
KEYSTORE_LOCATION=
COMM_BANDWIDTH=1.000000e+02
CONN_ELAPSE=10
MAX_CONNRETRIES=5
MAX_TIME_DIFF=60
START_STOP_TIME=10
FEDERATED_ASYNC=0
WLM_DISPATCHER=0
WLM_DISP_CONCUR=-1
WLM_DISP_CPU_SHARES=0
WLM_DISP_MIN_UTIL=5
ALT_DIAGPATH=
DIAGSIZE=0
RSTRT_LIGHT_MEM=AUTOMATIC10
FCM_PARALLELISM=1
CF_MEM_SZ=AUTOMATIC131072
CF_NUM_WORKER=AUTOMATIC1
CF_NUM_CONNS=AUTOMATIC16
CF_DIAGLEVEL=2
CF_DIAGPATH=/db2home/{{ appcode }}{{ envcode }}i/sqllib/db2dump/
CF_TRANSPORT_METHOD=0
COMM_EXIT_LIST=

[INST>{{ appcode }}{{ envcode }}i]
instance_name={{ appcode }}{{ envcode }}i
NodeType=4
ServerType=DB26000
Authentication=SERVER
DB2COMM=TCPIP


